:root {
    --font-oswald: "Oswald", serif;
    --font-opensans: "Open Sans", serif;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-48: 48px;
    --fs-80: 80px;
    /* ----line-height----  */
    --lh-21: 21.79px;
    --lh-23: 23.71px;
    --lh-25: 25.16px;
    --lh-29: 29.64px;
    --lh-71: 71.14px;
    --lh-118: 118.56px;
    /* ----color----  */
    --sky-blue: #39C6FD;
    --dark-blue: #070D37;

}

.font-oswald {
    font-family: var(--font-oswald);
}

.font-opensans {
    font-family: var(--font-opensans);
}

.fs-16 {
    font-size: var(--fs-16) !important;
}

.fs-20 {
    font-size: var(--fs-20) !important;
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-80 {
    font-size: var(--fs-80) !important;
}

/* ----weight---- */
.fw-400 {
    font-weight: var(--fw-400) !important;
}

.fw-700 {
    font-weight: var(--fw-700) !important;
}

/* ----line-height----  */
.lh-21 {
    line-height: var(--lh-21) !important;
}

.lh-23 {
    line-height: var(--lh-23) !important;
}

.lh-25 {
    line-height: var(--lh-25) !important;
}

.lh-29 {
    line-height: var(--lh-29) !important;
}

.lh-71 {
    line-height: var(--lh-71) !important;
}

.lh-118 {
    line-height: var(--lh-118) !important;
}

/* ----color----  */
.sky-blue {
    color: var(--sky-blue) !important;
}

.dark-blue {
    color: var(--dark-blue);
}

.bg-blue {
    background-color: var(--dark-blue);
}