@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');

/* section-1 */
.bg-image {
    background-image: url(../image/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header-h1 {
    color: rgba(255, 255, 255, 1);
    font-family: "Oswald", serif;
    max-width: 607px;
    text-align: center;
    margin: auto;
    margin-top: 46px;
}

.pt-190 {
    padding-top: 190px;
}

.header-p {
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", serif;
}

.header-button {
    color: #070D37;
    padding: 14px 27px 14px 27px;
    border-radius: 5.04px;
    background-color: #39C6FD;
    border: none;
}

.header-button:hover {
    background-color: #3fa6cf;
    transition: all 1s;
}

/* nav */
.login-btn {
    width: 80px;
    height: 40px;
    border-radius: 3.48px;
    background: #39C6FD;
    border: none;
    z-index: 1;
    transition: all 500ms linear;
    position: relative;
}

.login-btn:hover {
    background: #070D37;
    border: 1px solid #39C6FD;
    color: var(--sky-blue);
}

.sign-btn {
    width: 94px;
    height: 40px;
    gap: 10px;
    border-radius: 4px;
    background: #070D37;
    border: 1px solid #39C6FD;
    z-index: 1;
    transition: all 500ms linear;
    position: relative;
}

.sign-btn:hover {
    background: #39C6FD;
    color: #070D37 !important;
}

.min-vh-100 {
    min-height: 100vh;
}

.mt-12 {
    margin-top: 12px;
}

.gap-53 {
    gap: 53px;
}

.mx-680 {
    max-width: 680px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--null);
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: white !important;
    position: relative;
}

.z-5 {
    z-index: 5;
}

.rotate40 {
    transform: rotate(40deg);

}

.rotate-45 {
    transform: rotate(-46deg);

}

.section-1-bottom-layer {
    top: -15.5%;
}

.top-right-layer {
    top: 0;
    right: 0;
}

.botto-left-layer {
    top: -10%;
    left: 0;
}

.slider-image-size {
    height: 100% !important;
    max-width: 494px !important;
    margin-right: 30px;

}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

/* section-3 */
.section-3-h2 {
    max-width: 632px;
    font-family: "Oswald", serif;
    margin-top: 192px;
}

.section-3-p {
    max-width: 516px;
    margin-bottom: 51px;
}

/* .login-btn {
    color: #070D37;
    padding: 8px 20px 8px 20px;
    border-radius: 3.48px;
    background-color: #39C6FD;
    border: none;
} */
/* footer */
.footer-p {
    max-width: 810px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans", serif;
}

.footer-h4 {
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.71px;
    text-align: center;
}

.footer-bg {
    background-image: url(../image/footer-bg-layer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom-line {
    max-width: 1439.61px;
    border-top: 0.5px solid #39C6FD;
}

.footer-copyright-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Open Sans", serif;
    margin-top: 12px !important;
}

@media (max-width:1130px) {
    .bug {
        display: none;
    }

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 600ms linear !important;
        z-index: 2;
    }

    .show-nvabar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    ul {
        flex-direction: column;
        justify-content: center !important;
        display: flex;
    }

    .mt-20 {
        margin-top: 20px;
    }
}